body {
    background: #ECEEF1;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    display: block;
    margin: 0 auto;
}

.logo {
    display: grid;
    justify-items: center;
    grid-row-gap: 20px;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

span {
    font-size: 10px;
    color: darkgray;
    margin-top: 0;
}

footer {
    text-align: center;
}

.navbar {
    margin: 0px;
    padding: 0px;
    outline: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

}

.signIn {
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    width: 103px;
    height: 34px;
    color: white;
}

.userAccount {
    margin: 0px;
    padding: 0px 10px;
}

.link {
    color: #0077C5;
    text-decoration: none;
}

.container {
    display: block;
    margin: 0 auto;
    width: 380px;
    height: 673px;
    border-style: solid;
    padding: 20px;
    border: 1px solid gray;
    background-color: white;
}

.maincontent {
    display: grid;
    grid-template-columns: max-content;
    grid-gap: 10px;
    justify-content: center;
    padding: 20px;
}

#email {
    margin-bottom: 20px;

}

#submit {
    margin-top: 20px;
    height: 44px;
    background-color: #0077c5;
    color: white;
}

fieldset {
    display: grid;
    justify-content: center;

}

.text {
    font-size: 14px;
    line-height: 1;
    text-align: center;
}

.TermsAndCond {
    display: grid;
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #757575;
}

.centered_text {
    margin-left: 50px;
    margin-right: 50px;
}


.information {
    display: grid;
    grid-template-columns: auto;
}