body {
    background: #ECEEF1;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper {
    display: block;
    margin: 0 auto;
}
.logo {
    display: grid;
    justify-items: center;
    grid-row-gap: 20px;
    padding-bottom: 20px;
}

span {
    color: cornflowerblue;
}

.inputheight{
    height: 30px;
    border-radius: 2px;

}
.navbar {
    margin: 0px;
    padding: 0px;
    outline: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.signIn {
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    width: 103px;
    height: 34px;
    color: white;
}

.userAccount {
    margin: 0px;
    padding: 0px 10px;
}

.link {
    color: #0077C5;
    text-decoration: none;
}

.container {
    display: block;
    margin: 0 auto;
    width: 370px;
    height: 650px;
    border: 3px thin #c7c7c7;
    background-color: white;
}

.maincontent {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    justify-content: center;
    padding: 10px;
    font-weight: normal;
    color: #404040;
    font-size: 14px;
    line-height: 25px; 
}
#callNotes{
    line-height: 6px; 
    color: #404040;
    font-size: 10px;
}

.submit {
    margin-top: 20px;
    height: 44px;
    background-color: #0077c5;
    color: white;
}

fieldset {
    display: grid;
    justify-content: center;
}

.text {
    line-height: 1;
    text-align: center;
    color: #4C4C4C;
    font-weight: 200;
    line-height: 1.1;
    font-size: 16px;
}

.TermsAndCond {
    display: grid;
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #757575;
}

.centered_text {
    margin-left: 50px;
    margin-right: 50px;
}
.bottom_text{
    margin: 47px -12px -30px -12px;
    padding: 16px;
    border: 3px thin #c7c7c7;
}

.information {
    display: grid;
    grid-template-columns: auto;

}
.navfooter{
    color: #757575;
    margin-top: 70px;
    font-size: 12px;
    text-align: center;

}
.navfooter a{
    color: #757575;
    text-decoration: none;

}
.copyright{
    margin: 0 auto;
}
.wrapper .bottom_text{
background-color: #eceef1;

}