body {
    background: #ECEEF1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

span {
    color: cornflowerblue;
}

.navbar {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    padding-top: 10px;
    align-items: center;
}